*{
    color: #ffffff !important;
}
.Nav ul {
    display: inline-flex;
    list-style: none;
    margin: unset;
}
.Nav {
    background-color: #6170de;
    text-align: center;
    position: sticky;
    top: 0;
}
.Nav ul li {
    padding: 1.5em 2rem;
}

.Nav ul li:hover {
    background-color: rgb(25, 58, 241);
}

.header {
    text-align: center;
    background-color: #000000;
    font-size: xxx-large;
    margin-top: 12rem;
}
body {
    margin: 0 !important;
    background-color: #000000;
}

.bodyLi  {
    margin-top: 30rem;
    text-align: center;
}

.bodylider {
    margin-left: 225px;
}
.footer {
    text-align: center;
    border-bottom: 5px solid red;
    margin-top: 30rem;
}

.lider {
    margin: 25px;
}

.footer ul {
    display: inline-flex;
    list-style: none;
    margin: 0 2.5rem;
}

.footer ul li {
    margin: 0 2.5rem;
}

.end {
    text-align: center;
}